body{
  background-color: black;  
  color: dimgray;
}
header{
  color: lightgrey;
  background-color: black;
}
a{
  color: lightgrey;
}

a:hover{
  color: darkred;
}
.error{
  display: none;
}
.fa-bars{
  color: lightgrey;
}

.modal{
  background-color: rgba(89,1,1,0.2);
}
.modal p{
  color: white;
}
.modal-header{
  background-color: rgb(31, 32, 32);
  border-bottom-color: transparent;
}
.dropdown-menu{
  background-color: rgba(89,1,1,0.23);
  color: white;
}

.dropdown-item:hover {
  background-color:darkred; 
  color:white;
}
.dropdown-item{
color: white;
}

.modal-content{
  border-style: solid;
  background-color: transparent;
}

.modal-footer{
  border-top: 1px solid darkred;
}


@media screen and (max-width: 766px) {

  .textoMenu {
    display: inline;
  }
}
.cerrar{
  color: red;
}


.nav-tabs {
  border-style: hidden;
}
.nav-item{
  margin-right: 3.5%;
}
.nav  >li{
border-top-left-radius: 13px;
border-top-right-radius: 13px;

}
#acceso{
  background-color: rgb(22, 22, 22);
}
.tab-acceso{
  background-color: rgb(22, 22, 22);
  border-bottom: 1px solid  rgb(22, 22, 22)!important;

}
#registro{
  background-color: rgb(40,40,40);
}
.tab-registro{
  background-color: rgb(40,40,40);
  border-bottom: 1px solid  rgb(40,40,40) !important;
}
.error{
  display: none;
}

#asesino{
  border-style: hidden;
  border-color: darkred;
  
}

#superviviente{
  border-style: solid;
  border-color: darkolivegreen;
  display: none;
}

.hover-div:hover{
  box-shadow: 2px 2px 2px red inset, -2px -2px 2px red inset;
}
.hover-div{
  max-width: none !important;
}
.seleccionado{
  box-shadow: 2px 2px 2px white inset, -2px -2px 2px white inset;
}

#buildAsesino{
  display: none;
}

#buildSuperviviente{
  display: none;
}

.poder{
  border-style: solid;
  border-color: darkred;
  background-color: rgba(89,1,1,0.23)
}

.perk{
  border-style:solid; 
  border-color: darkred;
  background-color: rgba(89,1,1,0.23)
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.hoverAddon:hover{
  box-shadow: 2px 2px 2px red inset, -2px -2px 2px red inset;
}

.oculto {
  display: none;
}

.tipoGuia{
  padding-left: 4%;
  text-align: right;
}

 #asesino{
  display: none;
}
.botonCrearAsesino{
  margin-top: 3em;
}

.table{
  color:white;
}

#ocultoAsesino{
  display: none;
}

#ocultoSuperviviente{
  display: none;
}
